* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #f8fafc;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 80rem;
  height: 69.2rem;
  padding: 6.4rem 8rem;
  background-color: #fff;
  box-shadow: 0rem 0.4rem 3.2rem rgba(15, 23, 42, 0.15);
  border-radius: 1.6rem;

  display: grid;
  gap: 6.4rem;
}

section h2 {
  font-size: 2rem;
  line-height: 2.4rem;
}

.converter .wrapper {
  margin-top: 1.6rem;
  display: flex;
  gap: 1.6rem;
}

.money-wrapper {
  background-color: #fff;
  outline: 0.1rem solid #94a3b8;

  width: 27rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
}

.money-wrapper:hover {
  outline: 0.25rem solid #7c3aed;
}

.currency .wrapper {
  margin-top: 2.4rem;

  width: 59.2rem;
  height: 35.6rem;

  border: 0.1rem solid red;
}
