* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #f8fafc;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 80rem;
  height: 69.2rem;
  padding: 6.4rem 8rem;
  background-color: #fff;
  box-shadow: 0rem 0.4rem 3.2rem rgba(15, 23, 42, 0.15);
  border-radius: 1.6rem;
}
